<!-- http://dev.cs.ovgu.de/java/logback/manual/layouts.html -->
<configuration>
    <!-- Define properties for reuse -->
    <property name="LOG_DIR" value="logs"/>
    <property name="LOG_FILE_NAME" value="flight-reservation"/>

    <!-- Console Appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %X{sessionId} %cyan(%-30.30logger{30}) : %m%n</pattern>
        </encoder>
    </appender>

    <!-- Rolling File Appender -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${LOG_FILE_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/${LOG_FILE_NAME}-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Package specific logging -->
    <logger name="org.example" level="DEBUG"/>
    <logger name="org.asynchttpclient.netty.handler.WebSocketHandler" level="OFF"/>
    <logger name="org.selenium" level="WARN"/>

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>